.todo{
    position: relative;
    margin-top: 1rem;
    background-color: #000;
    color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 5px;
  }
  
  .icons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    gap: 0.5rem;
  }
  
  .icon{
    cursor: pointer;
    font-size: 20px;
  }

.todo-list {
    position: relative;
    margin-top: 1rem;
    color: #000;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.icons {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    justify-content: flex-end;
    right: 20px;
}

.icon {
    cursor: pointer;
    font-size: 20px;
}

.done-title {
    text-decoration: line-through;
    color: grey;
}

